body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  background: #292727;
}

nav {
  display: flex;
  justify-content: center;
}

nav a {
  margin-right: 13px;
  margin-left: 13px;
  display: inline-block;
  padding: 10px 24px;
  border-radius: 15px;
  background-color: #555;
  color: #fff;
  transition: background 0.2s;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  background-color: #333;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  padding: 13px;
}

div {
  flex: 0 0 calc(33.33% - 15px);
  border-radius: 15px;
  overflow: hidden;
  background-color: #544F4F;
  height: calc(33.33% - 15px);
}

div img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

div p {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin: 8px;
}

div form button {
  width: 100%;
  padding: 8px;
  background-color: #e74c3c;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

div form button:hover {
  background-color: #c0392b;
}


