<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Добавить карточку</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <nav>
      <a href="/">Список</a>
      <a href="/add">Добавить</a>
    </nav>
  </header>

  <main>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="text" name="card_text" placeholder="Введи текст карточки">
      <input type="file" name="card_image" accept="image/*">
      <button type="submit">Добавить карточку</button>
    </form>
  </main>

  <footer>
    <p>&copy; 2024 Мой сайт. Все права защищены.</p>
  </footer>
</body>
</html>